@import "tailwindcss";

:root {
  /* Light mode colors */
  --color-background: #DEDEDE;
  --color-menu-background: #E8E8E8;
  --color-submenu-background: #CFCFCF;
  --color-text: #131313;

  --color-user-zone: #CFCFCF;

  --color-button-border-in: #4B4B4B;
  --color-button-background-in: #CFCFCF;
  --color-button-icon-in: #4B4B4B;

  --color-button-border-primary-in: #000000;
  --color-button-background-primary-in: #000000;
  --color-button-icon-primary-in: #F1F1F1;

  --color-button-border-out: #4B4B4B;
  --color-button-background-out: #DEDEDE;
  --color-button-icon-out: #131313;

  --color-object-selected: #D0D0D0;
  --color-hover: #DEDEDE;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --color-background: #212121;
    --color-menu-background: #171717;
    --color-submenu-background: #303030;
    --color-text: #ECECEC;

    --color-user-zone: #303030;

    --color-button-border-in: #B4B4B4;
    --color-button-background-in: #303030;
    --color-button-icon-in: #B4B4B4;

    --color-button-border-primary-in: #FFFFFF;
    --color-button-background-primary-in: #FFFFFF;
    --color-button-icon-primary-in: #0E0E0E;

    --color-button-border-out: #B4B4B4;
    --color-button-background-out: #212121;
    --color-button-icon-out: #ECECEC;

    --color-object-selected: #2F2F2F;
    --color-hover: #212121;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-user-zone) var(--color-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
  border-radius: 14px;
  border: 3px solid var(--color-user-zone);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background);
}